/*
    PELLERIN Gautier le 07/03/2024
    portfolio.css
    CSS pour le portfolio du BTS SIO
*/
/* Réinitialisation des marges et des rembourrages */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    background-color:floralwhite;
  }






/*Barre de navigation*/
.navbar {
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

/* Style des liens de navigation */
.navbar a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
}

/* Changement de style pour les liens survolés */
.navbar a:hover {
  background-color: #ddd;
  color: black;
}

/* Style pour le lien actif */
.navbar a.active {
  background-color: #ff0000;
  color: white;
}



.accueil {
  display: flex;
  margin: 180px;
  padding: 80px;
  align-items: center;
}
.accueil h2 {
  position: absolute;
  height: 150px;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: #111;
  font-size: normal;
  margin: auto;
}
.accueil h3 {
  margin: 0 auto;
  position: absolute;
  height: 120px;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-family: "Reddit Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: 60px;
}

.accueil p {
  margin: 0 auto;
  position: absolute;
  height: 80px;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #111;
  font-size : 20px;
}
.accueil a button {
  position: absolute;
  height: -10px;
  left: 50%;
  transform: translate(-50%, -50%);
  
  animation: changement-couleur-button 5s infinite; /* Utilisation de l'animation */
  border: none; /* Pas de bordure */
  color: white; /* Couleur du texte */
  padding: 10px 20px; /* Remplissage intérieur */
  text-align: center; /* Alignement du texte */
  text-decoration: none; /* Pas de décoration de texte */
  display: inline-block; /* Affichage en bloc */
  font-size: 16px; /* Taille de la police */
  cursor: pointer; /* Curseur au survol */
  border-radius: 5px; /* Coins arrondis */
}

@keyframes changement-couleur-button {
  0% { background-color: red; } /* Début de l'animation, couleur rouge */
  25% { background-color: rgb(255, 136, 0); } /* 25% de l'animation, couleur bleue */
  50% { background-color: rgb(255, 230, 0); } /* 50% de l'animation, couleur verte */
  75% { background-color: rgb(255, 136, 0); } /* 75% de l'animation, couleur orange */
  100% { background-color: red; } /* Fin de l'animation, retour à la couleur rouge */
}




h2 {
  position : relative;
  text-align: center;
  font-family: "Reddit Mono", monospace;
  color: #111;
}





.multiburo { 
    display: flex;
  }
.multiburo p {
    color: #111;
    text-align: left;
    position : relative;
    top : 100px;
    left: 0px;    
  }
.multiburo h3 {
    font-family: "Reddit Mono", monospace;
    color: orange;
    text-align: left;
    position : relative;
    top : 50px;
    left: 200px;
  }
.multiburo img {
    width: 750px;
    height: 450px; 
    position: relative;
    right:0px;
    margin: 20px;
  }






